/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */


/* Document
       ========================================================================== */


/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */

html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}


/* Sections
       ========================================================================== */


/**
     * Remove the margin in all browsers (opinionated).
     */

body {
    margin: 0;
}


/**
     * Add the correct display in IE 9-.
     */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}


/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}



.b-video-player-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    max-width: 854px;
}

.b-text-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    z-index: 0;
    transform: skewX(5deg);
    transform-origin: 50%;
}

.b-text-animation.is-ready {
    z-index: 99;
}

.vjs-big-play-button {
    z-index: 99;
}

.vjs-control-bar {
    z-index: 100;
}
.video-js.vjs-fullscreen {
    height: 0 !important;
    padding-top: 56.25% !important;
}

@-webkit-keyframes show {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.show {
    -webkit-animation-name: show;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    animation-name: show;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 1 !important;
}

@-webkit-keyframes grow {
    0% {
        width: 5px;
        height: 5px;
    }
    100% {
        width: 50px;
        height: 50px;
    }
}

@keyframes grow {
    0% {
        width: 5px;
        height: 5px;
    }
    100% {
        width: 50px;
        height: 50px;
    }
}

.charlie {
    opacity: 0;
}
.charlie.animated {
    opacity: 1;
    
}

#textAnimate1{
    position: absolute;
    top: 47.9167%;
    font-size: 70px;
    font-family: "Segoe UI";
    font-weight: 900;
    display: inline-block;
}
@media(max-width: 854px){
    #textAnimate1 {
        font-size: 8.1967vw;
    }
}
.vjs-fullscreen #textAnimate1{
    font-size: 8.1967vw;
    top: 26.93vw;
}
.textAnimate2{
    display: flex;
}
#textAnimate2{
    position: absolute;
    display: flex;
    top: 52.7%;
    left: 18.2%;
    font-size: 60px;
    font-family: "Segoe UI";
    font-weight: 900;
    color: #000048;
    overflow: hidden;
}
@media(max-width: 854px){
    #textAnimate2{
        font-size: 7.0257vw;
    }
}
.vjs-fullscreen #textAnimate2{
    font-size: 7.0257vw;
}

#amount {
    height: 50px;
    position: absolute;
    left: 55%;
    top: 12%;
    font-size: 54px;
    font-family: "Segoe UI";
    font-weight: 900;
    color: #000048;
}
@media(max-width: 854px){
    #amount {
       font-size: 6.3vw;
    }
}

.vjs-fullscreen #amount{
    font-size: 6.3vw;
    top: 6.79vw;
}

#chart{
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 26px #000048 , inset 0 0 0 26px #0ca6ee;

}


#calendar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 50%;
    background: #079f00;
    padding: 0 5% 5%;
    border-radius: 10px;
    font-size: 32px;
    font-family: "Segoe UI";
    font-weight: 900;
    color: #fff;
}
@media (max-width: 854px) {
    #calendar {
        border-radius: 1.17vw;
        font-size: 3.75vw;
    }
}
.vjs-fullscreen #calendar{
    border-radius: 1.17vw;
    font-size: 3.75vw;
}
.calendar__month{
    display: flex;
    align-items: center;
    height: 20%;
}
.calendar__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 5;
    background: #fff;
    height: 100%;
    width: 100%;
    color: #079f00;
    font-size: 17px;
    font-weight: 400;
}
@media (max-width: 854px){
    .calendar__data{
        font-size: 2vw;
    }
}
.vjs-fullscreen .calendar__data{
    font-size: 2vw;
}
.calendar__data>span:nth-child(1){
    font-weight: 900;
    font-size: 650%;
    line-height: 90%;
}

.textAnimate4{
    display: flex;
    color: #000048;
}
#textAnimate4{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:14.4%;
    left: 50.8%;
    width: 40%;
    height: 80%;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}
@media(max-width: 854px){
    #textAnimate4{
        font-size: 3.04vw;
    }
}

.vjs-fullscreen #textAnimate4{
    top: 8.08vw;
    font-size: 3.04vw;
}


#textAnimate4amount{
    display: flex;
    font-size: 72px;
    font-family: "Segoe UI";
    font-weight: 900;
    color: #000048;
}
@media(max-width: 854px){
    #textAnimate4amount{
        font-size: 8.4vw;
    }
}
.vjs-fullscreen #textAnimate4amount{
    font-size: 8.4vw;
}

.textAnimate5{
    position: absolute;
    top:10%;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 40%;
    font-size: 32px;
    font-family: "Segoe UI";
    font-weight: 900;
    color: #000048;
    overflow: hidden;
}
@media (max-width: 854px) {
    .textAnimate5{
        font-size: 3.74vw;
    }
}
.vjs-fullscreen .textAnimate5{
    font-size: 3.74vw;
}
.textAnimate5Letter{
    overflow: hidden;
    height: 31px;
}
@media (max-width: 854px) {
    .textAnimate5Letter{
        height: 3.63vw;
    }
}
.vjs-fullscreen .textAnimate5Letter{
    height: 3.63vw;
}

#textAnimate5amount{
    font-size: 72px;
    overflow: hidden;
    height: 71px;
}
@media (max-width: 854px) {
    #textAnimate5amount{
        font-size: 8.43vw;
        height: 8.313vw;
    }
}
.vjs-fullscreen #textAnimate5amount{
    font-size: 8.43vw;
    height: 8.313vw;
}

.textAnimate6{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:15%;
    right: 53%;
    width: 40%;
    height: 80%;
    font-size: 32px;
    color: #000048;
}
@media (max-width: 854px) {
    .textAnimate6{
        font-size: 3.75vw;
    }
}
.vjs-fullscreen .textAnimate6{
    font-size: 3.75vw;
}
.textAnimate6 .calendar__data{
    color: #960005;
}
#textAnimate6{
    display: flex;
}
#textAnimate6amount{
    font-family: "Segoe UI";
    font-size: 72px;
    font-weight: 900;
}
@media (max-width: 854px) {
    #textAnimate6amount{
        font-size: 8.43vw;
    }
}
.vjs-fullscreen #textAnimate6amount{
    font-size: 8.43vw;
}

#calendar2{
    position: absolute;
    top:8.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 50%;
    padding: 0 5% 5%;
    border-radius: 10px;
    background: #960005;
    font-size: 32px;
    font-family: "Segoe UI";
    font-weight: 900;
    color: #fff;
}
@media (max-width: 854px) {
    #calendar2{
        font-size: 3.75vw;
    }
}

.vjs-fullscreen #calendar2{
    font-size: 3.75vw;
}

.textAnimate7{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top:15%;
    right: 10%;
    width: 38%;
    height: 71%;
    font-size: 32px;
    color: #000048;
}
@media (max-width: 854px) {
    .textAnimate7{
       font-size: 3.75vw;
    }
}
.vjs-fullscreen .textAnimate7{
    font-size: 3.75vw;
}
.textAnimate7__block1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.textAnimate7__block2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#textAnimate7__amount1, #textAnimate7__amount2{
    font-size: 56px;
    font-family: "Segoe UI";
    font-weight: 900;
}
@media (max-width: 854px) {
    #textAnimate7__amount1, #textAnimate7__amount2{
        font-size: 6.557vw;
    }
}
.vjs-fullscreen #textAnimate7__amount1 ,.vjs-fullscreen #textAnimate7__amount2 {
    font-size: 6.557vw;
}
