@-webkit-keyframes textAnimate7__block1__Letter {
    from{
        -webkit-transform: translate(-31.1%,0) }
    10%{
        -webkit-transform: translate(0,0)}
    85%{
        -webkit-transform: translate(0,-31.25%)}
    88%{
        -webkit-animation-timing-function: ease-in;
        -webkit-transform: translate(0,31.25%)}
    92.4%, to {
        -webkit-transform: translate(0,-1714%) ;
    }
}

@keyframes textAnimate7__block1__Letter {
    from{
        transform: translate(-31.1%,0) }
    10%{
        transform: translate(0,0)}
    85%{
        transform: translate(0,-31.25%)}
    89%{
        animation-timing-function: ease-in;
        transform: translate(0,31.25%)}
    92.4%, to {
        transform: translate(0,-1714%) ;
    }
}
.textAnimate7__block1__Letter {
    -webkit-animation-name: textAnimate7__block1__Letter;
    animation-name: textAnimate7__block1__Letter;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
}




@-webkit-keyframes textAnimate7__block1__amount {
    from{
        -webkit-transform: translate(-18.939%,0)  }
    10%{
        -webkit-transform: translate(0,0)}
    84.8%{
        -webkit-transform: translate(0,-14.705%)}
    88.99%{
        -webkit-animation-timing-function: ease-in;
        -webkit-transform: translate(0,14.705%)}
    92.13%, to {
        -webkit-transform: translate(0,-872%)  }
}

@keyframes textAnimate7__block1__amount {
    from{
        transform: translate(-18.939%,0)  }
    10%{
        transform: translate(0,0)}
    84.8%{
        transform: translate(0,-14.705%)}
    88.99%{
        animation-timing-function: ease-in;
        transform: translate(0,14.705%)}
    92.13%, to {
        transform: translate(0,-872%)  }
}
.textAnimate7__block1__amount {
    -webkit-animation-name: textAnimate7__block1__amount;
    animation-name: textAnimate7__block1__amount;
    -webkit-animation-duration: 8.9s;
    animation-duration: 8.9s;
}






@-webkit-keyframes textAnimate7__block2__Letter {
    from{
        -webkit-transform: translate(31.1%,0) }
    10%{
        -webkit-transform: translate(0,0)}
    73.6%{
        -webkit-transform: translate(0,-31.25%)}
    80%{
        -webkit-animation-timing-function: ease-in;
        -webkit-transform: translate(0,31.25%)}
    86.4%, to {
        -webkit-transform: translate(0,-1714%) ;
    }
}

@keyframes textAnimate7__block2__Letter {
    from{
        transform: translate(31.1%,0) }
    10%{
        transform: translate(0,0)}
    73.6%{
        transform: translate(0,-31.25%)}
    80%{
        animation-timing-function: ease-in;
        transform: translate(0,31.25%)}
    86.4%, to {
        transform: translate(0,-1714%) ;
    }
}
.textAnimate7__block2__Letter {
    -webkit-animation-name: textAnimate7__block2__Letter;
    animation-name: textAnimate7__block2__Letter;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}



@-webkit-keyframes textAnimate7__block2__amount {
    from{
        -webkit-transform: translate(-18.939%,0)  }
    10%{
        -webkit-transform: translate(0,0)}
    72.45%{
        -webkit-transform: translate(0,-14.705%)}
    80%{
        -webkit-animation-timing-function: ease-in;
        -webkit-transform: translate(0,14.705%)}
    86.12%, to {
        -webkit-transform: translate(0,-872%)  }
}

@keyframes textAnimate7__block2__amount {
    from{
        transform: translate(-18.939%,0)  }
    10%{
        transform: translate(0,0)}
    72.45%{
        transform: translate(0,-14.705%)}
    80%{
        animation-timing-function: ease-in;
        transform: translate(0,14.705%)}
    86.12%, to {
        transform: translate(0,-872%)  }
}
.textAnimate7__block2__amount {
    -webkit-animation-name: textAnimate7__block2__amount;
    animation-name: textAnimate7__block2__amount;
    -webkit-animation-duration: 4.9s;
    animation-duration: 4.9s;
}