@-webkit-keyframes amountAnimate {
    from {
        -webkit-transform: translateX(-100px);  }
    6%,20% {
        -webkit-transform: translate(0,0);  }
    91% {
        -webkit-transform: translate(0,-2vh);  }
    93%,to {
        -webkit-transform: translate(0, -100vh);
    } }

@keyframes amountAnimate {
    from{
        transform: translateX(-100px); }
    6%,20% {
        transform: translate(0,0); }
    91% {
        transform: translate(0,-2vh ); }
    93%,to {
        transform: translate(0, -100vh); }
}
.amountAnimate{
    -webkit-animation: amountAnimate;
    animation: amountAnimate;
    -webkit-animation-duration: 11s;
    animation-duration: 11s;
}
