@-webkit-keyframes textAnimate2 {
    from {
        -webkit-transform: translateY(0); }
    71%{
        -webkit-transform: translateY(0);}
    74%{
        -webkit-animation-timing-function: ease-in;
        -webkit-transform: translateY(12%);}
    84.25%, to {
        -webkit-transform: translateY(-600%); }
}

@keyframes textAnimate2 {
    from {
        transform: translateY(0); }
    70%{
        transform: translateY(0);}
    74.5%{
        animation-timing-function: ease-in;
        transform: translateY(12%) translateX(0); }
    84.25%, to {
        transform: translateY(-600%) translateX(7%); }
}
.textAnimate2 {
    -webkit-animation-name: textAnimate2;
    animation-name: textAnimate2;
    -webkit-animation-duration: 5.2s;
    animation-duration: 5.2s;
}


@-webkit-keyframes textAnimateLetter {
    from{
        -webkit-transform: translateY(63.29%);  }
    10%{
        -webkit-transform: translateY(0);}
    to {
        -webkit-transform: translateY(0);  }
}

@keyframes textAnimateLetter {
    from {
        transform: translateY(63.29%); }
    10%{
        transform: translateY(0);}
    to {
        transform: translateY(0); }
}
.textAnimateLetter {
    -webkit-animation-name: textAnimateLetter;
    animation-name: textAnimateLetter;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}