@-webkit-keyframes textAnimate1 {
    from{
        -webkit-transform: translateY(500%);  }
    8%,30%{
        -webkit-transform: translateY(0);}
    35%,95%{
        -webkit-transform: translateY(-207%);  }
    to {
        -webkit-transform: translateY(-1000%);  }
}

@keyframes textAnimate1 {
    from {
        transform: translateY(500%); }
    8%,25% {
        transform: translateY(0);}
    30%,95% {
        transform: translateY(-207%); }
    to {
        transform: translateY(-1000%); }
}
.textAnimate1 {
    -webkit-animation-name: textAnimate1;
    animation-name: textAnimate1;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}
