@-webkit-keyframes textAnimate4__calendar {
    from{

        -webkit-transform: translateY(100px) scale(0);  }
    10%,50%{
        -webkit-transform: translateY(100px) scale(1);}
    60%,90%{
        -webkit-transform: translateY(170px) scale(1);}
    to {
        -webkit-transform: translateY(-800px) scale(1);  }
}

@keyframes textAnimate4__calendar {
    from {
        transform: translateY(100px) scale(0);
    }
    10%,40%{
        transform: translateY(100px) scale(1);}
    50%,80%{
        transform: translateY(170px) scale(1);
    }
    to {
        transform: translateY(-800px) scale(1); }
}
.textAnimate4__calendar {
    -webkit-animation-name: textAnimate4__calendar;
    animation-name: textAnimate4__calendar;
    -webkit-animation-duration: 6.5s;
    animation-duration: 6.5s;
}


@-webkit-keyframes textAnimate4__amount {
    from{

        -webkit-transform: translateY(0)  }
    10%,90%{
        -webkit-transform: translateY(15px) }
    to {
        -webkit-transform: translateY(-800px)  }
}

@keyframes textAnimate4__amount {
    from {
        transform: translateY(0) ;
    }
    10%,80%{
        transform: translateY(15px)
    }
    to {
        transform: translateY(-800px) ;
    }
}
.textAnimate4__amount {
    -webkit-animation-name: textAnimate4__amount;
    animation-name: textAnimate4__amount;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
}




@-webkit-keyframes textAnimate4Letter {
    from{
        -webkit-transform: translateY(50px);  }
    10%{
        -webkit-transform: translateY(0);}
    to {
        -webkit-transform: translateY(0);  }
}

@keyframes textAnimate4Letter {
    from {
        transform: translateY(50px); }
    10%{
        transform: translateY(0);}
    to {
        transform: translateY(0); }
}

.textAnimate4Letter {
    -webkit-animation-name: textAnimate4Letter;
    animation-name: textAnimate4Letter;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}